@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
  width: 100%;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/*--- Navigation --*/

.navbar {
  background-color: transparent!important;
}

.navbar-brand img {
  height: 3.5rem;
}

.navbar-nav li {
  padding-right: .7rem;
}

.navbar-dark .navbbar-nav .nav-link {
  color: white;
  padding-top: 0.8rem;
}

.nav-button-login{
  width: auto;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #fff;
  background-color: transparent;
  color:#fff;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.nav-search{
  background: rgba(82, 78, 78, 0.3);
  border-radius: 30px;
  border:none;
  width: 310px;
  height: 40px;
  z-index: 1;
  text-align: center;
  background-position: center left 7%;
  background-size: 13px 13px;
  background-image: url(../../assets/icon/search-icon.png);
  background-repeat: no-repeat;
}

/*--- Landing page --*/
.home-inner{
  background-image: url(../../assets/img/background-menu.jpg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position:absolute;
  top: 38%;
  z-index: 1;
  color:white;
  text-transform: uppercase;
}

.caption h1{
  font-size: 3.8rem;
  font-weight: 600;
  letter-spacing:.3rem;
  text-shadow: .1rem 1.rem .8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: 1.rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.btn-lg {
  border-width: medium;
  border-radius: 10px;
  padding: .6rem 1.3rem;
  font-size: 1.1rem;
}

/*============= COURSE SECTION =============*/

.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.narrow h1 {
    font-size: 2.4rem;
}
.btn-secondary {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 1rem;
  border-color: #1EBBA3;
  background-color: #1EBBA3;
  color: white;
}
.btn-secondary:hover,
.btn-secondary:focus {
  border-color: #189582;
  background-color: #189582;
  color: white;
}

/*============= FEATURE SECTION =============*/

.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

.heading-underline {
  width: 3rem;
  height: .2rem;
  background-color:#1e8ebb;
  margin: 0 auto 2rem;
}

.feature svg.svg-inline--fa {
  color:#1ebba3;
}

.feature h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}

.feature p {
  font-size: 1.1rem;
}

/*============= RESOURCE SECTION =============*/
.fixed {
  background-image: url(../../assets/img/desktop.jpg);
  z-index: -1;
}

.dark {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 7rem  2rem;
}
.fixed-background h3{
  margin-bottom: 2rem;
}

.fixed-background p{
  margin-top: 1.5rem;
}

/*============= CLIENT SECTION =============*/
  
.clients img {
  width: 100%;
  border-radius: 50%;
}

blockquote.svg-inline--fa {
  color: #1ebba3;
  margin: 1rem;
}

.clients-hr {
  border-top: .05rem solid #19169e;
}

/*============= CONTACT SECTION =============*/

footer {
  background: rgb(0, 0, 0,0.9);
  color: white;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
}

footer a {
  color: white;
}

footer svg.svg-inline--fa {
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}
footer svg.svg-inline--fa:hover {
  color:#1EBBA3!important;
}

hr.socket {
  width: 100%;
  border-top: .2rem solid #000000;
  margin-top: 3rem; 
}

h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 80px;
}
h2 b {
	color: #ffc000;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	background: rgba(0, 0, 0, 0.2);
	left: 0;
	right: 0;
	bottom: -20px;
}


/*============ Media Queries:====*/

@media (max-width: 767px){
  .caption h1{
    font-size: 2.3rem;
    letter-spacing:.15rem;
    padding-bottom: .5rem;
  }
  
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg {
    padding: .6rem 1rem;
    font-size: 1rem;
  }

  .narrow h1 {
    font-size: 1.5rem;
}

.clients img {
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
}


section{
  padding: 100px 0;
}
.details-card {
background: #ecf0f1;
}

.card-content {
background: #ffffff;
border: 4px;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.card-img {
position: relative;
overflow: hidden;
border-radius: 0;
z-index: 1;
}

.card-img img {
width: 100%;
height: auto;
display: block;
}

.card-img span {
position: absolute;
  top: 15%;
  left: 12%;
  background:#1a73bc;
  padding: 6px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  transform: translate(-50%,-50%);
}
.card-img span h4{
      font-size: 12px;
      margin:0;
      padding:10px 5px;
       line-height: 0;
}
.card-desc {
padding: 1.25rem;
}

.card-desc h3 {
color: #000000;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.card-desc p {
color: #747373;
  font-size: 14px;
font-weight: 400;
font-size: 1em;
line-height: 1.5;
margin: 0px;
margin-bottom: 20px;
padding: 0;
font-family: 'Raleway', sans-serif;
}
.btn-card{
background-color: #1a73bc;
color: #fff;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  padding: .84rem 2.14rem;
  font-size: .81rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  margin: 0;
  border: 0;
  -webkit-border-radius: .125rem;
  border-radius: .125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;
}
.btn-card:hover {
  background: orange;
}
a.btn-card {
  text-decoration: none;
  color: #fff;
}
/* End card section */
 






/*============ BOOTSTRAT BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

