/*zerar todas as configurações*/

html, body, div, span, h1, h2, h3,p, a, img, li,footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
  }  

  /*fonte da letra*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

/*configuração geral do corpo*/

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
  line-height: 1;
  
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}
/*zerar configuração dos links*/

a {
    text-decoration: none;
}

/* Menu de navegação */
  
* {
  margin: 0;
  padding: 0;
}

.bs-menu{
  margin: 0px;

}

.menu-bar{
  background-color:#1e8ebb !important;
 
}

.nav-link {
  color: #fff !important ;
}

.logo-site{
  width: 200px;
}

.icon-carrinho {
  width: 32px;
  height: 32px;
}

/*Fundo*/

div.fundo  {  
  border:solid 7px #41403E;
  transition:all .5s ease;
  box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  margin: 90px 160px;
  background: white;
 }

section {
  text-align: center;
 }  

 section h2 {
  font-size: 1.7rem;
  font-weight: 600;
 }

h2 {
    font-size: 2.5rem;
    font-weight: 300;
    text-align: center;
    position: relative;
    margin: 30px 0 80px;
  }
  
h2 b {
  color: #ffc000;
 }
  
hr.socketForm {
  content: "";
  width: 50%;
  margin: 0 auto;
  height: 1px;
  background: #1e8ebb;
  left: 0;
  right: 0;
  bottom: -7px;

  }
  
h4{
 font-size: 10px;
  }
  
h4:hover {
  color: royalblue; 
  }

h4{
  font-size: 10px;
}

h4:hover {
  color: royalblue; 
}

label{
  font-size: 20px;
  padding-top: 10px;
}

 /*Formulário de dados*/


input {
   width: 70%;
   height: 30px;
   border: 1px solid #41403E;;
   border-radius: 5px;
 }

/*botões*/ 

button{
    border-radius: 40px;
    border: none;
    width: 50%;
    height: 40px;
    z-index: 1;
    text-align: center;
    color: white;
    background-position: center left 7%;
    background-size: 13px 13px;
    background-color: #1e8ebb!important;
    background-repeat: no-repeat;
  }  
/* FOOTER */

footer {
  background: rgb(0, 0, 0);
  padding: 1.5rem 0 1.5rem;
  margin-top: 7rem;
}

footer img {
  height: 4.5rem;
  margin: 1.5rem 0;
}

footer a {
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
}
footer a:hover{
    text-decoration: none;
    color:#1e8ebb;
}

.footer-icon{
  height: 5rem;
}
.footer-icon:hover {
  color:#fff!important;
}

hr.socket {
  width: 100%;
  border-top: .2rem solid #1e8ebb;
  margin-top: 3rem; 
}
  
 /*media query*/

@media (max-width: 700px){
 div.fundo  {  
  border: none;
  padding: 0px;
  margin: 10px;
  }
    }